{% extends "base.html" %}
{% block title %}Student List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            <h1>Student List</h1>
    <table>
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Bio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td><img src="{{ student.picture.url }}" alt="{{ student.student_name }}" height="60" width="60"></td>
                <td>{{ student.student_name }}</td>
                <td>{{ student.student_bio }}</td>
                <td class="actions">
                    <button class="btn btn-success"><a href="{% url 'editstudent' student.id %}" style="color: black">Edit</a></button>
                    <form action="{% url 'student_delete' student.id %}" onclick="return confirm('Are you sure you want to delete the student?')" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}